<section id="about">
    <br>
    <h2>About Me</h2>
    <div class="custom-container">
        <div class="picture">
            <img src="images/ProfilePicture.jpeg" />
        </div>
        <div class="description">
            @if (aboutMe is null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <p>@aboutMe.Description</p>    
                <hr />
                @foreach (var key in aboutMe.Skills.Keys)
                {
                    <h3>@key</h3>
                    <ul>
                        @foreach (var values in aboutMe.Skills[key])
                        {
                            <li>@values</li>
                        }
                    </ul>
                }                               
            }
        </div>
    </div>
    <h2>My resume</h2>
    <br>
    <div class="resume-container">
        <iframe src="https://santicarreno9.github.io/ResumeWebsite/" title="Resume" class="resume"></iframe>
    </div>
    <br>
</section>

@code {
    [Parameter, EditorRequired]
    public required HttpClient Http { get; set; }

    private AboutMe? aboutMe;
    private HeroImage? hero;

    protected override async Task OnInitializedAsync()
    {
        aboutMe = await Http.GetFromJsonAsync<AboutMe>(Path.Combine(GlobalValues.JsonPath, "aboutme.json"));

    }
}
