<div class="custom-container">
    <div class="horizontal-scroller-container">
        <button class="scroll-btn prev-btn" @onclick="ScrollLeft">
            @* <img src="/favicon.png" /> *@
            <i class="arrow left" />
        </button>
        <div class="horizontal-scroller" @ref=@scrollerReference>
            @if (Items != null)
            {
                @foreach (var item in Items)
                {
                    <div class="item">
                        @item
                    </div>
                }
            }
            @* @if (Item != null)
            {
            <div class="item">
            @Item
            </div>
            } *@
            @* @foreach (var component in Components)
            {
            <div class="item">
            @component
            </div>
            } *@
            @* @foreach (int i in Enumerable.Range(0, ItemsParameters.Length))
            {
            <div class="item">
            <DynamicComponent Type="ItemType" Parameters="ItemsParameters[i]" @ref="carouselItems[i]"></DynamicComponent>
            </div>
            } *@
        </div>

        <button class="scroll-btn next-btn" @onclick="ScrollRight">
            <i class="arrow right" />
        </button>
    </div>
    <div class="indicators-container">
        @* @foreach (var item in Enumerable.Range(0, Components.Length)) *@
        @foreach (var item in Enumerable.Range(0, totalNumberOfItems))
        {
            <button class="content-indicator @(currentPosition==item?"current":"")" @onclick="()=>ScrollTo(item)" />
        }
    </div>
</div>

<script src="../Components/CarouselBase.razor.js"></script>