<div class="row justify-content-center">
    @foreach (var project in Projects)
    {
        <div class="card col-md-3 m-2 px-0" @onclick="()=>TriggerSelection(project.Id)">
            <div class="w-100 h-100" style="overflow:clip;">
                <img class="img-thumbnail h-100" src="@project.MediaContent[(int)MediaContentType.Image][0]" />
            </div>
            <div class="card-body">
                <h5 class="card-title-mb-3">
                    @project.Title
                </h5>
                <div class="">
                    <img class="category-logo" src=@Logos.GetLogoByCategory(project.Category) />
                </div>
            </div>
        </div>
    }
</div>