<section class="dark" id="portfolio">
    <div class=@containerStyle>
        <div class="logo-container">
            @if (portfolioCategoryInfo != null)
            {
                <img class="logo" src=@portfolioCategoryInfo.Logo alt="Unity" />
            }
        </div>
        @if (projectCards == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div style="flex:1">
                <Carousel Components="@projectCards"></Carousel>
            </div>
        }
    </div>
</section>

@code {
    private RenderFragment<Project> projectCardTemplate = (project) =>@<ProjectCard Project="@project" />;

    private void GenerateCards(Project[] projects, out RenderFragment[] projectCard)
    {
        projectCard = new RenderFragment[projects.Length];
        for (int i = 0; i < projects.Length; i++)
        {
            projectCard[i] = @projectCardTemplate(projects[i]);
        }
    }
}