<section id="portfolio">    
    <a href="#portfolio">
        <h2>Portfolio</h2>
    </a>
    <div class="content-container">
        @if (projectsParameters == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {            
            <CascadingValue Value='"portfolio"'>
                <DynamicCarousel ItemType="typeof(ProjectCard)" ItemsParameters="@projectsParameters"></DynamicCarousel>
            </CascadingValue>
        }
    </div>
</section>