<section id="portfolio">
    <a href="#portfolio">
        <h2>Portfolio</h2>
    </a>
    @if (_projects == null || _projectCategories == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="content-container d-flex flex-column">
            <div class="btn-group p-5" role="group" aria-label="Basic radio toggle button group">
                @{
                    var index = 0;
                }
                @foreach (var categoryInfo in _projectCategories)
                {
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio@(index)" autocomplete="off" @onchange="async()=>await SetProjectCategory(categoryInfo.Category)" checked="@(_currentProjectCategory == categoryInfo.Category)">
                    <label class="btn btn-outline-light" for="btnradio@(index)">@categoryInfo.Name</label>
                    index++;
                }
            </div>

            @if (_projects.Count() > 0)
            {
                <div class="container-md">
                    <DisplayProjects Projects="_projects" OnProjectSelected="OnItemSelected" Logos="logos"></DisplayProjects>
                </div>
            }
        </div>
    }
</section>

@if (isCarouselOpen)
{    
    <div class="preview-container @(isCarouselOpen?"active":"")">
        <div class="w-100 p-2 text-end">
            <button class="btn-close" @onclick="()=>{isCarouselOpen=false;}"></button>
        </div>
        <div class="preview-content-container">
            <DynamicCarousel ItemType="typeof(ProjectCard)" ItemsParameters="@projectsParameters"
                             IndexToDisplay=GetSelectedProjectIndex() ShowIndicators=false
                             SmoothMovement=false></DynamicCarousel>
        </div>
    </div>
}