<section class="dark" id="portfolio">
    <div class=@containerStyle>
        <div class="logo-container">
            @if (portfolioCategoryInfo != null)
            {
                <img class="logo" src=@portfolioCategoryInfo.Logo alt="Unity" />
            }
        </div>
        @if (projectsParameters == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <CascadingValue Value='"portfolio"'>
            <div style="flex:1">
                <DynamicCarousel Id="unity" ItemType="typeof(ProjectCard)" ItemsParameters="@projectsParameters"></DynamicCarousel>
                @* <StaticCarousel ItemType="typeof(ProjectCard)" ItemsParameters="@projectsParameters"></StaticCarousel> *@
            </div>
            </CascadingValue>
        }
    </div>
</section>