<section class="dark" id="portfolio">
    <div class=@containerStyle>
        <div class="logo-container">
            @if (portfolioCategoryInfo != null)
            {
                <img class="logo" src=@portfolioCategoryInfo.Logo alt="Unity" />
            }
        </div>        
        @if (projectsParameters == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div style="flex:1">
                <DynamicCarousel ItemType="typeof(ProjectCard)" ItemsParameters="@projectsParameters"></DynamicCarousel>                
            </div>
        }
    </div>
</section>
