.project-container {
    flex: 1;
    padding: 3% 0 1%;
    display: flex;
    gap: 2vh;
    align-content: start;
    flex-wrap: wrap;
    overflow-x: auto;    
}

.media-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 65%;
    gap: 1vh;
}

.media-content-container {
    width: 100%;
    display: flex;
    justify-content:center;    
}

.media-content {    
    max-width: 100%;    
    border-radius: 0.5rem;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.thumbnails-scroller {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    gap: 0.5rem;
    overflow-x: auto;
    padding: 0.2rem;
    scrollbar-width: thin;
}

.thumbnail {
    min-width: 100px;
    height: 60px;
    cursor: pointer;
    display: flex;
    box-shadow: 0 0 2px 1px white;
    text-align: center;
    position:relative;
}

    .thumbnail img {
        width: 100%;
    }

    .thumbnail i {
        width: 100%;
        color: white;
        align-self: center;
        font-size: 200%;
    }

    .thumbnail:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        background-color: rgba(255,255,255,0.4);
    }

        .thumbnail:hover img {
            opacity: 0.5;
        }

    .thumbnail.active {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

.description {
    flex: 1;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 0.8rem;
    overflow: auto;
    padding: 0 8px;
    max-height: 600px;
    font-size: 15px;    
}

    .description li {
        font-size: 15px;
    }

    .description a {
        text-decoration: double;
        color: red;
        background-color: transparent;
    }

        .description a:hover {
            color: gray;
        }

@media (max-width: 800px) {
    .media-container {
        min-width: 100%;        
    }
}
