@page "/"
@inject HttpClient Http
@inject HeroImageService HeroImageService

<PageTitle>Portfolio</PageTitle>

<Header />
@* <Home Http=@Http HeroImageService=@HeroImageService /> *@
<Portfolio Http=@Http HeroImageService=@HeroImageService />
@* <div style="background-image:linear-gradient(var(--division-color),var(--black)); height:5rem;"></div> *@
@* <About Http=@Http HeroImageService=@HeroImageService /> *@
@* <div style="background-image:var(--division-color); height:5rem;"></div> *@
@* <Footer Http=@Http PrimaryColor="#4E567E" SecondaryColor="#D2F1E4" /> *@