name: Publish Blazor App to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build_test_artifact:
    name: Build App
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.5
      with:
        submodules: recursive

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.x'

    - name: Restore NuGet packages and build solution
      shell: bash
      run: |
        dotnet restore .
        dotnet build --no-restore .

    - name: Test solution
      shell: bash
      run: |
        dotnet test . -c Release

    - name: Publish artifact
      shell: bash
      run: |
        dotnet publish src/BlazorApp -c Release -o published

    - name: Upload artifact for web
      uses: actions/upload-pages-artifact@v1
      with:
        path: published/wwwroot

  deploy:
    name: Deploy App to GitHub Pages
    needs: [build_test_artifact]
    runs-on: ubuntu-latest

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v1
